.nav-left{
    display: flex;
    flex-direction: row;
}

.nav-right{
    display: flex;
    flex-direction: row;
}

.nav-right button{
    border-radius: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}